doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul.nav.justify-content-center.right
      li.nav-item
        a.nav-link.btn.btn-primary(href='/') Home
      if user
        li.nav-item
          a.nav-link.btn.btn-danger(href='/users/logout') Logout
      else
        li.nav-item
          a.nav-link.btn.btn-primary(href='/users/register') Register
        li.nav-item
          a.nav-link.btn.btn-primary(href='/users/login') Login
  div 
    != messages('message', locals)
    if errors
        each error, i in errors
            div(class="alert alert-danger") #{error.msg}
    block content
  script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')

